@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("font-awesome.min.css");

* {
	margin: 0;
	padding: 0;
}



html {
	background: url(http://subtlepatterns.com/patterns/dark_dotted.png) repeat #222;
}


body,input,textarea,select
{
	font-family: 'Noto Sans TC', sans-serif;

}



button {
	border: 0px;
	padding: 8px 20px;
	margin: -5px 0px;
	border-radius: 1px;
	font-family: 'Noto Sans TC', sans-serif;

	cursor: pointer;
	color: #fff;
	background: #7aa76d;
	font-size: 25px;
	outline: none;

	-webkit-transition: 0.15s background ease;
	   -moz-transition: 0.15s background ease;
	    -ms-transition: 0.15s background ease;
	     -o-transition: 0.15s background ease;
	        transition: 0.15s background ease;
}
	button:hover {
		background: #91cd85;
	}
	button:active {
		background: #60895a;
	}
	button+button {
		margin-left: 5px;
	}



body {
	background: #fff;

}